.postscan { 
    width: 100%;
    border-radius: 10px;
    height: auto;
    background: transparent;
    color: black;
    margin: 0 auto;
    }
    .linkboxbtn input{
    width: 100%;
    height: 30px;
    border: none;
    background: #e4e4e4;
    border-radius: 10px;
    padding: 6px;
    outline: none;
        text-align: center;
    }
   .linkboxbtn button {
     width: 110px;
    height: 30px;
    border-radius: 10px;
    border: none;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
    margin: 5px auto;
    justify-content: center;
    display: flex;
    align-items: center;
}
    .mr-msg-footer h3 b a{
    color:#118ff9;}
 .postscan canvas {
    margin: 0 auto;
    align-items: center;
    display: flex;
    padding: 10px;
    border-radius: 30px;
    color: red;
     background:var(--bgcolor);
}
.postscan h2 {
    text-align: center;
    font-size: 19px;
    padding: 5px;
    font-weight: bold;
    color: var(--bgcolor);
}
    .postscan p {
    text-align: center;
     color: var(--bgcolor);
    font-size: 20px;
    font-family: fantasy;
    
}hr#pagebrackpoint {
    width: 100%;
    height: 7px;
    background: var(--bgcolor);
    border-radius: 10px;
    border: none;
}
a.qrcreditmr {
    font-size: 12px;
    padding: 10px;
    text-decoration: none;
    justify-content: center;
    display: flex;
    font-weight: bold;
}
.night .postscan canvas{box-shadow: none;}
